.container {
	margin-top: 10px;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

#main-button-row {
	text-align: center;
}

#textareas-row .label {
	position: absolute;
	top: 5px;
}

#export-buttons-row div:first-child {
	text-align: right;
}

#export-buttons-row div:nth-child(2) {
	text-align: center;
}

#textareas-row textarea {
	width: 100%;
	height: 150px;
	margin-top: 5px;
}

iframe {
	display: none;
}

#loader {
	visibility: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	z-index: 2;
	-webkit-transition: opacity 0.3s, visibility 0.3s;
	transition: opacity 0.3s, visibility 0.3s;
}

#loader .alert {
	display: none;
	position: absolute;
	width: 350px;
	left: 50%;
	margin-left: -175px;
	top: 15%;
}

#loader.creating, #loader.processing {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s, visibility 0;
	transition: opacity 0.3s, visibility 0;
}

#loader.creating .alert:first-child {
	display: block;
}

#loader.processing .alert:last-child {
	display: block;
}

#error-box {
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	transition: height 0.3s;
}

#error-box.active {
	height: 100px;
}

#about ul {
	margin-top: 10px;
}

#settings {
	padding-right: 10px;
}

#social-buttons {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 1;
	display: block;

	background: rgba(255, 255, 255, 0.75);
	border-top-left-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#social-buttons iframe {
	margin-top: 3px;
	display: block;
}
